@import "../../../../variables";

.hud-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  pointer-events: none;
  border-radius: 2px;
  border: 1px solid rgb(220, 220, 220);
}

.hud-top {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: transparentize($color: $light-gray1, $amount: 0.1);
  z-index: 2;
}

.hud-top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 2s 2s;

  &.hidden {
    visibility: hidden;
    transform: translateX(-50%) translateY(-170%);
  }
}

.hud-below-center {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.invalid-action {
  animation: tempIn 1.2s both;
  color: white;
  @include text-outline();
  font-weight: bold;
  font-size: 2em;

  @keyframes tempIn {
    0% {
      opacity: 0.5;
      transform: scale(1.5);
    }

    10% {
      opacity: 1;
      transform: scale(1);
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.hud-right {
  position: absolute;
  right: 10px;
  top: 50px;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  font-size: 12px;
}

.hud-right-of-time {
  position: absolute;
  top: 10px;
  left: calc(50% + 60px);
  margin-left: 5px;
}

.hud-germinate {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 20px;
  animation: 0.2s popIn 5s ease-in-out both;

  @keyframes popIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  p {
    font-size: 1em;
    margin: 0 0 10px;
  }
}

.hud-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  opacity: 0.95;
  transition: transform 2s 2s;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  pointer-events: none;

  &.hidden {
    transform: translateX(-50%) translateY(170%);
  }
}

.hud-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 1;
  transition: transform 2s 2s;
  transform: translateX(0);

  &.hidden {
    transform: translateX(100%);
  }
}

.player-inventory-container {
  position: relative;

  .mito-inventory-maxed {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%);
    // background: $light-gray5;
    background: hsl(111, 70%, 27%);
    font-weight: bold;
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    align-self: center;
    transition: all 0.2s;
    color: $white;
    opacity: 0;

    &.is-maxed {
      opacity: 1;
    }
  }
}

.player-inventory-bar {
  background: hsl(111, 70%, 27%);
  padding: 10px;
  border-radius: 2px;
}
