@import "../../../../variables";

.seasons-tracker {
  pointer-events: none;

  .season-display {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    width: 120px;
    height: 60px;
    background: $light-gray3;
    color: black;
    font-size: 12px;
    border-bottom: 2px solid $gray3;
    border-right: 2px solid $gray3;
    border-left: 2px solid $gray3;
    padding-top: 5px;
    // font-family: $arial-family;
  }

  .time {
    @include text-outline();
    color: white;
  }
}
