@import "../../../variables";

.genome-viewer {
  padding: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  pointer-events: all;
  text-align: left;

  .cell-types {
    display: flex;
  }

  .cell-type {
    padding: 10px;
    min-width: 300px;
    min-height: 400px;
    margin: 10px;
    background: transparentize($color: $light-gray5, $amount: 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .cell-header {
      display: flex;
    }

    .chromosome {
      margin-top: 5px;
      flex-grow: 1;
      background: transparentize($sepia1, 0.9);
      border-radius: 2px;
      padding: 5px;
    }

    .gene {
      // border: 1px solid $gray5;
      border-radius: 2px;
      padding: 5px;
      box-shadow: 0 4px 8px rgba(64, 64, 64, 0.5);
      background: transparentize($sepia1, 0.7);
      cursor: grab;

      .gene-header {
        display: flex;
        align-items: center;

        h4 {
          font-size: 1em;
          text-align: center;
          margin-right: auto;
          flex-grow: 1;
        }

        .gene-cost {
          margin-right: 5px;
        }

        .grip-lines {
          align-self: start;
          // margin-left: auto;
          color: $gray3;
        }
      }
    }
  }

  p {
    font-size: 12px;
    font-family: $arial-family;
    margin-top: 5px;
  }

  .gene-level-picker {
    display: flex;
    margin: 5px 0 0;

    button {
      flex: 1;
      margin: 0;
      background: none;
      cursor: pointer;
      font-family: $arial-family;
      font-size: 0.75em;
      border-width: thin;

      &.selected {
        border-style: inset;
        font-weight: bold;
      }
    }
  }
}

.gn {
  font-size: 1.1em;
  font-weight: 600;
}
