@import "../../../variables";

.genome-viewer {
  padding: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  pointer-events: all;
  text-align: left;

  .cell-types {
    display: flex;
  }

  .slots-used {
    font-weight: bold;
    // border-radius: 5px;
    // background: transparentize($color: $sepia1, $amount: 0.2);
    // color: white;
    // padding: 0.1em 0.5em;
    font-size: 12px;
  }

  .cell-type {
    padding: 10px;
    min-width: 300px;
    min-height: 400px;
    margin: 10px;
    background: transparentize($color: $light-gray5, $amount: 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .cell-header {
      display: flex;
    }

    .chromosome {
      margin-top: 5px;
      flex-grow: 1;
      // background: transparentize($sepia1, 0.9);
      // border-radius: 2px;
      padding: 5px;
    }

    .gene ~ .gene {
      margin-top: 10px;
    }

    .gene {
      position: relative;
      border-radius: 2px;
      padding: 5px;
      background: transparentize($sepia1, 0.7);
      transition: all 0.1s;
      overflow: hidden;
      max-height: 28px;

      &.draggable {
        cursor: grab;
        box-shadow: 0 4px 8px rgba(64, 64, 64, 0.5);
      }

      &:hover {
        max-height: 500px;
      }

      .gene-header {
        display: flex;
        align-items: center;

        h4 {
          font-size: 1em;
          margin-left: 30px;
          // text-align: center;
          margin-right: auto;
          flex-grow: 1;
        }

        .grip-lines {
          align-self: start;
          // margin-left: auto;
          color: $gray3;
        }
      }
    }
  }

  p {
    font-size: 12px;
    font-family: $arial-family;
    line-height: 1.25;
    margin: 10px 0 0;
  }

  .gene-cost {
    font-weight: bold;
    // border-radius: 100%;
    // background: transparentize($color: $sepia1, $amount: 0.2);
    // color: white;

    // background: white;
    // color: black;
    // box-shadow: 0 2px 4px inset rgba(64, 64, 64, 0.5);

    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: $turquoise1;
    color: $white;
    font-size: 16px;
    width: 20px;
    height: 20px;
    font-family: $palatino-family;
    display: inline-flex;
    justify-content: center;

    &.negative {
      // background: $forest3;
      width: 25px;
    }
  }

  .gene-level-arrows {
    display: inline-flex;
    flex-direction: column;
    margin-left: 2px;
    vertical-align: middle;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      font-size: 0.5em;
    }
  }

  .gene-level-picker {
    display: flex;
    margin: 5px 0 0;

    button {
      flex: 1;
      margin: 0;
      background: none;
      cursor: pointer;
      font-family: $arial-family;
      font-size: 12px;
      border-width: thin;

      &.selected {
        border-style: inset;
        font-weight: bold;
      }
    }
  }
}

.gn {
  font-size: 1.1em;
  font-weight: 600;
}

.Living,
.Inventory {
  border: 1px solid $gray5 !important;
  box-shadow: none !important;
  background: none !important;
  background: $light-gray2 !important;
}

.Obstacle {
  background: $dark-gray4 !important;
  color: white;
}

.Metabolism,
.EnergyTransfer {
  background-color: $gold4 !important;
}

.Photosynthesis {
  background-color: $color-primary-1 !important;
}

.AttractsWater {
  background-color: $blue4 !important;
}

.SoilAbsorption {
  background-color: $sepia3 !important;
}

// .gene.Living {
//   background: none !important;
//   border: 1px solid $sepia3;
//   box-shadow: none !important;
// }
