@import "../../../variables";

.switchable-bar {
  // match action bar
  min-width: 370px;
  min-height: 120px;
  position: relative;
  border: 1px solid grey;
  border-top: none;
  background: rgba(255, 255, 255, 0.25);
  pointer-events: initial;

  .switcher {
    position: absolute;
    top: 60px;
    transform: translateY(-50%);
    margin: 0 2px;

    &.right {
      left: 100%;
    }

    &.left {
      right: 100%;
    }
  }
}
