@import "../../../variables";

.tile-details {
  pointer-events: initial;
  // width: 100%;
  // min-height: 120px;
  text-align: left;
  padding: 10px;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  // background: transparentize($gray1, 0.2);
  pointer-events: none;
  flex-direction: column;

  .info-tile-row {
    display: flex;
    align-items: center;
  }

  .interact-info {
    &.f {
      margin-top: 20px;
    }

    font-family: $arial-family;
    color: $gray1;
    font-size: 12px;
  }

  .info-tile-name {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-right: 5px;
  }

  .info-energy {
    // font-size: 0.75em;
  }

  .info-tile-temperature {
    $size: 30px;
    $marker-thickness: 2.5px;
    margin: 0 10px;
    display: inline-block;
    overflow: hidden;
    position: relative;

    .temperature-scale {
      height: $marker-thickness;
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: 0 center;
      border-left: $size/4 solid transparent;
      border-radius: $marker-thickness / 2;
    }

    .temperature-pointer {
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: 0 center;
      height: $marker-thickness;
      border-left: $size / 4 * 1.25 solid $black;
    }

    .temperature-label {
      position: absolute;
      bottom: 1px;
      left: 48%;
      transform: translateX(-50%);
      font-family: $arial-family;
      font-size: $size * 0.28;
      font-weight: bold;
    }
  }
}

.resource-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
