.tile-hover {
  text-align: left;
  min-width: 120px;
  min-height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.95);
  pointer-events: none;
  border-radius: 2px;
  border: 1px solid rgb(220, 220, 220);
  padding: 10px;
  display: flex;
  flex-direction: column;

  .info-tile-name {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-right: 5px;
  }

  .info-energy {
    font-size: 0.75em;
  }

  .info-tile-temperature {
    margin: 20px 0 10px;
  }
}
