@import "../../../variables";

.cell-type {
  padding: 10px;
  width: 320px;
  flex-shrink: 0;
  min-height: 400px;
  background: $light-gray4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;

  ~ .cell-type {
    margin-left: 20px;
  }

  .cell-header {
    display: flex;
    h2 {
      flex-grow: 1;
      margin-right: auto;
    }
  }

  .cell-footer {
    position: relative;
    .icon-cell {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .gene-slots {
    margin: 5px 0;
    font-size: 16px;

    .slots-used {
      font-weight: bold;

      &.is-over {
        color: $red3;
      }
      // border-radius: 5px;
      // background: transparentize($color: $sepia1, $amount: 0.2);
      // color: white;
      // padding: 0.1em 0.5em;
    }
  }

  .invalid-alert-text {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: 2px;
    border: 4px solid $red3;
    box-shadow: 0 4px 8px rgba(64, 64, 64, 0.9);
    color: $red3;
    white-space: nowrap;
    padding: 10px;
  }

  .invalid-alert {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 10px;
    top: -20px;
    left: calc(50% - 20px);
    border-radius: 100%;
    background-color: $red3;
    box-shadow: 0 4px 8px rgba(64, 64, 64, 0.9);

    svg {
      font-size: 20px;
      color: white;
    }
  }

  .chromosome {
    @include droppable();
    flex-grow: 1;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;

    &.empty {
      &::before {
        content: "Drop in Genes";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @include center-children();
        color: $gray3;
      }
    }

    &.invalid {
      border: 2px solid $red3 !important;

      .gene:not(.invalid):not(:hover) {
        opacity: 0.2;
      }
    }
  }
}

.chance-to-cancer {
  padding: 10px 0;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  color: $red3;
}
