@import "../../../variables";

@mixin smalltext() {
  font: 12px $arial-family;
}

.gene {
  position: relative;
  border-radius: 2px;
  padding: 5px;
  background: $light-gray4;
  margin: 10px 0;
  transition: box-shadow 0.5s, max-height 0.5s;
  width: 295px;
  overflow: hidden;

  &.small {
    max-height: 28px;

    &:hover {
      max-height: 200px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        box-shadow: 0 0 0 1px inset $light-gray1;
      }
    }
  }

  &.expanded {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-shadow: 0 0 0 1px inset $light-gray1;
    }
  }

  &.draggable {
    cursor: grab;

    &:hover {
      box-shadow: 0px 4px 8px 2px $gray1;
      left: -2px;
      top: -2px;
    }
  }

  &.invalid {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-shadow: 0 0 0 2px inset $red3;
    }
  }

  &.reproducer {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $color-mutation;
      border-radius: 2px;
    }
  }

  .description {
    @include smalltext();
    line-height: 1.25;
    margin: 10px 0 0 32px;
  }

  // p {
  //   @include smalltext();
  //   line-height: 1.25;
  //   margin: 10px 0 0;
  // }

  .gene-header {
    display: flex;
    align-items: center;

    .energy-upkeep {
      border-radius: 10px;
      background: lightblue;
      margin-right: 5px;
      padding: 2px 5px;
      white-space: nowrap;
    }

    .gene-cost {
      border-radius: 10px;
      position: absolute;
    }

    h4 {
      font-size: 1em;
      margin-right: auto;
      margin-left: 32px;
      flex-grow: 1;
    }

    .gene-level {
      display: inline;
      letter-spacing: -1px;
    }

    .grip-lines {
      align-self: start;
      // margin-left: auto;
      color: $gray3;
    }
  }
}

.static-properties {
  display: flex;
  flex-direction: column;
  font: 12px $arial-family;
}

.interaction-select-container {
  @include smalltext();
}

.interaction-select {
  border: none;
  background: none;
  border-bottom: 1px solid $black;
  outline: none;
}

.gn {
  font-size: 1.1em;
  font-weight: 600;
}
