.hex-tile-info-container {
  margin: 10px;
  width: 320px;

  .play-button {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color: darkgreen;
    color: white;
    font-size: 18px;
  }

  .details {
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
  }
}
