@import "../variables";

.overworld-map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $black;
  color: white;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.overworld-modal-positioner {
  &::before {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;
    content: "";
    border: 20px solid transparent;
    border-right-color: white;
  }
}