@import "../../../../variables";

.hex-info-container {
  margin: 10px;
  width: 380px;

  .header {
    font-size: 2em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-gray1;

    // hack to make the border extend all the way past the outer margin
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-left: 10px;
  }

  .inhabited {
    text-align: center;
    padding: 10px;

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .details {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $arial-family;
  }

  .play-selector {
    display: flex;

    .Dropdown-root {
      align-self: center;
      margin-right: 10px;

      font-style: italic;
      white-space: nowrap;
    }

    .button {
      width: auto;
      flex-grow: 1;
      padding: 10px 20px;
    }
  }
}

.environment-info {
  text-align: left;
  > div {
    margin: 10px 0;
  }
  .insects {
    font-size: 16px;

    img {
      height: 1.2em;
    }
  }

  table {
    width: 100%;
    // border-collapse: collapse;

    td:first-of-type {
      padding-left: 0;
    }
  }
}
