@import "../variables";

.App {
  background: $black;
}

.fade-to-black {
  @include react-transition-group-in(2s) {
    filter: brightness(1);
  }

  @include react-transition-group-out(2s) {
    filter: brightness(0);
  }
}

// .fade-to-black-enter {
//   // opacity: 0;
//   filter: brightness(0);
// }

// .fade-to-black-enter-active {
//   // opacity: 1;
//   filter: brightness(1);
//   transition: all 2s;
// }

// .fade-to-black-exit {
//   // opacity: 1;
//   filter: brightness(1);
// }

// .fade-to-black-exit-active {
//   // opacity: 0;
//   filter: brightness(0);
//   transition: all 2s;
// }
