@import "../variables";

.App {
  background: $black;
}

.fade-to-black {
  &-enter {
    filter: brightness(0);
  }

  &-enter-active {
    filter: brightness(1);
    transition: filter 2s;
  }

  &-exit {
    filter: brightness(1);
  }

  &-exit-active {
    filter: brightness(0);
    transition: filter 2s;
  }
}
