@import "../../variables";

.game-results-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 100px;
  overflow: auto;
  left: 0;
  top: 0;

  .game-results-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;

    > * {
      animation: fadeIn 0.25s ease both;

      @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: #{($i - 2) * 0.5 + 2}s;
        }
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translate(0, 50px) scale(0.5);
        }

        100% {
          opacity: 1;
          transform: translate(0, 0) scale(1);
        }
      }
    }
  }

  &.won {
    background: linear-gradient(
      135deg,
      $color-primary-0,
      $color-primary-1,
      $color-primary-2,
      $color-primary-2,
      $color-primary-2
    );
  }

  &.lost {
    background: linear-gradient(-100deg, $dark-gray3, $gray1, $violet1, $violet1, $violet1, $gray1, $dark-gray3);
    color: $gray5;

    h1 {
      color: $light-gray3;
    }
  }

  .character-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none !important;
  }

  h1 {
    font-size: 3em;
    // color: black;
    margin-bottom: 0.333em;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  h5 {
    font-family: $arial-family;
    font-weight: lighter;
    font-size: 1em;
    padding: 0 0 10px 5px;
  }

  .done-button {
    padding: 30px;
    margin: 20px 0;
    background-color: $color-primary-4;
    font-size: 24px;
    color: $light-gray3;
    border-color: $light-gray3;
  }
}

.vignettes {
  display: flex;
  overflow-x: auto;
}

.mp-earner-list {
  margin: 30px 0;

  &:not(.dark) {
    .fruit-info {
      color: #333333;
    }

    .matured-info {
      color: black;
    }

    h5 {
      color: #333333;
      border-bottom: 1px solid #333333;
    }
  }

  &.dark {
    h5 {
      border-bottom: 1px solid $gray5;
    }

    .matured-info {
      color: $light-gray3;
    }
  }

  .fruit-info {
    margin: 30px 0;
    font-size: 1.25em;
    display: flex;
    align-items: center;

    .matured-info {
      font-weight: bold;
    }
  }

  .fruit-visual {
    position: relative;
    margin-right: 20px;
    display: flex;

    img {
      width: 2em;
      height: 2em;
    }
  }
}
