@import "../../variables";

.overworld-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $black;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
  }

  .panel-left {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 10px;
    position: absolute;
    left: 0;
    top: 10px;
    background: rgba(255, 255, 255, 0.8);
    animation: opacifyAndSlideIn 0.2s both;
    width: 0;
    transition: width 0.2s;

    &.open {
      width: 33%;
      min-width: 200px;
    }

    .panel-left-handle {
      position: absolute;
      top: 10px;
      left: 100%;
      cursor: pointer;
      border: none;
      background: rgba(255, 255, 255, 0.8);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      // border-left: 1px solid $gray3;
      outline: none;

      &:active {
        box-shadow: 0 0 4px 4px inset rgba(64, 64, 64, 0.5);
      }

      .icon {
        padding: 5px;
        font-size: 48px;
      }

      .unused-points {
        background: $color-mutation;
        color: white;
        font-weight: bold;
        border-radius: 100%;
        width: 1.2em;
        height: 1.2em;
        position: absolute;
        top: 0;
        right: -5px;
      }
    }
  }
}

.species-viewer-modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  background: $gray3;
  border-radius: 5px;
  outline: none;
  overflow: auto;

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
}
