@import "../../variables";

.species-viewer {
  overflow: auto;
  background: $gray3;

  .header {
    text-align: center;
    margin: 20px 0;

    .species-name {
      font-size: 2em;
      font-weight: bold;
      font-style: italic;
      display: inline;
    }
  }
}

.mutation-chooser {
  margin: 50px;
  padding: 50px;
  border: 1px solid $gray5;
  background: $light-gray5;
  border-radius: 5px;

  h1 {
    text-align: center;
  }
}

.gene-options {
  display: flex;
  justify-content: center;

  .gene {
    margin: 10px;
    cursor: pointer !important;
  }
}
