@import "../../../variables";

@mixin smalltext() {
  font: 12px $arial-family;
}

.gene-store {
  display: grid;
  grid-template-columns: repeat(auto-fit, 306px);
  margin: 20px;
  grid-gap: 10px;
}

.genome-viewer {
  overflow: auto;
  pointer-events: all;
  text-align: left;
  background: $gray3;
  padding: 10px;

  &.dragging .chromosome {
    border-color: $blue3;
  }

  .view-switcher {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;

    svg {
      cursor: pointer;
      box-sizing: border-box;

      &.active {
        box-shadow: 0 0 2px 2px inset $gray3;
        border-radius: 2px;
      }
    }
  }

  .cell-types {
    display: flex;
  }

  .add-cell-card {
    padding: 10px;
    width: 340px;
    flex-shrink: 0;
    min-height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparentize($color: $light-gray5, $amount: 0.1);
    margin: 0 20px;
    color: $white;

    .add-cell {
      cursor: pointer;
      font-size: 1.5em;
    }

    button {
      font-size: 2em;
      border: none;
      background: none;
      cursor: pointer;
      color: $white;
      padding: 10px;
      margin-top: 10px;
    }
  }

  .cell-type {
    padding: 10px;
    width: 340px;
    flex-shrink: 0;
    min-height: 400px;
    background: transparentize($color: $light-gray5, $amount: 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    ~ .cell-type {
      margin-left: 20px;
    }

    .cell-header {
      display: flex;
      .icon-cell {
        margin-right: 5px;
      }
    }
  }

  .chromosome {
    margin-top: 5px;
    flex-grow: 1;
    // background: transparentize($sepia1, 0.9);
    // border-radius: 2px;
    padding: 5px;
    border: 2px solid transparent;
    transition: all 0.2s;
    border-radius: 5px;
  }

  .gene-slots {
    // font-size: 12px;
  }

  .slots-used {
    font-weight: bold;
    // border-radius: 5px;
    // background: transparentize($color: $sepia1, $amount: 0.2);
    // color: white;
    // padding: 0.1em 0.5em;
  }

  .description,
  p {
    @include smalltext();
    line-height: 1.25;
    margin: 10px 0 0;
  }

  .gene-level-arrows {
    display: inline-flex;
    flex-direction: column;
    margin-left: 2px;
    vertical-align: middle;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      font-size: 0.5em;
    }
  }

  .gene-level-picker {
    display: flex;
    margin: 5px 0 0;

    button {
      flex: 1;
      margin: 0;
      background: none;
      cursor: pointer;
      font-family: $arial-family;
      font-size: 12px;
      border-width: thin;
      color: inherit;

      &.selected {
        border-style: inset;
        font-weight: bold;
      }
    }
  }
}

.gene {
  position: relative;
  border-radius: 2px;
  padding: 5px;
  background: rgb(194, 187, 177);
  transition: all 0.1s;
  overflow: hidden;
  width: 305px;

  &.small {
    max-height: 28px;
  }

  &.draggable {
    cursor: grab;
    box-shadow: 0 4px 8px rgba(64, 64, 64, 0.5);
  }

  &:hover {
    max-height: 500px;
    box-shadow: 15px 15px 8px 2px rgba(64, 64, 64, 0.9);
  }

  ~ .gene {
    margin-top: 10px;
  }

  .description,
  p {
    @include smalltext();
    line-height: 1.25;
    margin: 10px 0 0;
  }

  .gene-header {
    display: flex;
    align-items: center;

    .gene-cost {
      border-bottom-right-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
    }

    h4 {
      font-size: 1em;
      margin-left: 30px;
      // text-align: center;
      margin-right: auto;
      flex-grow: 1;
    }

    .grip-lines {
      align-self: start;
      // margin-left: auto;
      color: $gray3;
    }
  }
}

.gene-cost {
  font-weight: bold;
  // border-radius: 100%;
  // background: transparentize($color: $sepia1, $amount: 0.2);
  // color: white;

  // background: white;
  // color: black;
  // box-shadow: 0 2px 4px inset rgba(64, 64, 64, 0.5);

  background: $turquoise1;
  color: $white;
  font-size: 16px;
  width: 20px;
  height: 20px;
  font-family: $palatino-family;
  display: inline-flex;
  justify-content: center;

  &.negative {
    // background: $forest3;
    width: 25px;
    background: $gold5;
    color: $black;
    // -webkit-text-stroke: 2px black;
    // @include text-outline();
  }
}

.static-properties {
  display: flex;
  flex-direction: column;
  font: 12px $arial-family;
}

.interaction-select-container {
  @include smalltext();
}

.interaction-select {
  border: none;
  background: none;
  border-bottom: 1px solid $black;
  outline: none;
}

.gn {
  font-size: 1.1em;
  font-weight: 600;
}

.Living,
.Inventory {
  // border: 1px solid $gray5 !important;
  box-shadow: none !important;
  background: none !important;
  // background: $light-gray2 !important;
  background: linear-gradient(to right, $light-gray2, transparent) !important;
}

// .Obstacle {
//   background: $dark-gray4 !important;
//   color: white;
// }

// .Metabolism,
// .EnergyTransfer {
//   background-color: $gold4 !important;
// }

// .Photosynthesis {
//   background-color: $color-primary-1 !important;
// }

// .AttractsWater {
//   background-color: $blue4 !important;
// }

// .SoilAbsorption {
//   background-color: $sepia3 !important;
// }

.Fruit {
  border: 3px solid $color-mutation !important;
  // background-color: $color-mutation !important;
  // color: white;
}

// .gene.Living {
//   background: none !important;
//   border: 1px solid $sepia3;
//   box-shadow: none !important;
// }
