@import "../../../variables";

.temperature-gauge {
  display: inline-block;
  position: relative;

  &.freezing {
    color: darkblue;
    font-weight: bold;
  }

  &.cold {
    color: rgb(64, 64, 255);
    font-weight: bold;
  }

  &.mild {
    color: black;
  }

  &.hot {
    color: orange;
    font-weight: bold;
  }

  &.scorching {
    color: red;
    font-weight: bold;
  }
}
