@import "../../../variables";

.tile-details {
  width: 340px;
  margin-left: auto;
  // width: 100%;
  // min-height: 120px;
  text-align: left;
  padding: 10px;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  // background: transparentize($gray1, 0.2);
  flex-direction: column;
  white-space: nowrap;

  .info-tile {
    display: flex;
    align-items: center;
    // border
    border-bottom: 1px solid $light-gray1;
    padding-bottom: 10px;
    margin-bottom: 10px;

    // hack to make the border extend all the way past the tile-details padding
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-left: 10px;

    .info-tile-name {
      display: inline-block;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      margin-right: 10px;
    }

    .temperature-gauge {
      margin-right: 10px;
    }
  }

  .interact-infos {
    margin-top: 20px;
    font-family: $arial-family;
    color: $gray1;
    font-size: 12px;
  }

  .info-air {
    display: flex;
    > div:first-of-type {
      width: 75px;
    }

    .co2-container {
      margin-left: 20px;
    }

    .co2 {
      font-family: $arial-family;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -1px;
      margin-right: 2px;
    }
  }

  .info-cell-effects {
    font-weight: bold;
    margin-top: 5px;
  }
}

.resource-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
