@import "../../../variables";

.expand-button {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid $black;
  margin: 1em 0 0.5em;
  display: flex;

  .expand-caret {
    margin-left: auto;
  }
}
