@import "../../../variables";

.icon-cell {
  transform: scale(1);
  transition: transform 0.025s;
  width: 60px;
  height: 60px;
  border: 1px solid $gray3;
  border-radius: 2px;
  margin: 0;
  color: $white;
  @include text-outline();
  font-size: 12px;
  font-family: $arial-family;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  image-rendering: pixelated;
}
