@import "../../../variables";

.action-bar-item {
  transform: scale(1);
  transition: transform 0.025s;
  width: 60px;
  height: 60px;
  border: 1px solid $gray3;
  border-radius: 2px;
  @include text-outline();
  color: $white;
  font-size: 12px;
  font-family: $arial-family;
  text-align: center;

  &.reproducer::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid $color-mutation;
    border-radius: 2px;
  }
}

.icon-cell {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  image-rendering: pixelated;
  position: relative;

  .costs {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
