@import "~normalize.css";

@import "./variables";
@import "./rc-tooltip.scss";

.droppable {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid red;
  background: yellow;
  width: 300px;
  position: relative;

  > pre {
    position: absolute;
    right: 100%;
    background: lightgreen;
    max-width: 300px;
  }
}

.trash {
  padding: 20px;
  background: $indigo5;
  display: inline-block;

  &.hovered {
    background: $violet1;
  }
}

.gene-options {
  padding: 20px;
  border-radius: 5px;
  background: $gray1;
  display: inline-flex;
}

.all-cells {
  display: flex;

  &.debug {
    .droppable {
      margin: 20px 300px;
    }
  }
}

.draggable {
  border-radius: 5px;
  border: 1px solid lightblue;
  background: lightskyblue;
  height: 100px;
  width: 260px;

  > pre {
    position: absolute;
    left: 100%;
    background: green;
    max-width: 300px;
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $palatino-family;
  margin: 0;
}

a {
  color: $dark-gray1;
  text-decoration: none;
  transition: border-bottom 0.05s;

  &:hover {
    border-bottom: 3px solid $black;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

body {
  font-family: $palatino-family;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  font-family: $georgia-family;
}

figure {
  margin: 0;
}

h1 ~ p {
  margin-top: 10px;
}

p ~ p {
  margin-top: 30px;
}

#root {
  overflow: hidden;
}
