@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

@import "./variables";
@import "./social.scss";
@import "./bp3-popover.scss";

$size: 25px;

.row {
  height: $size;
}

.tile0,
.tile1,
.tile2,
.tile3,
.tile4 {
  font-family: "Courier New", Courier, monospace;
  width: $size;
  height: size;
  font-size: $size * 1;
  @include center-children();
  user-select: none;
}

.tile0 {
  background-color: lightseagreen;
}

.tile1 {
  background-color: lightgoldenrodyellow;
}

.tile2 {
  background-color: lightgreen;
}

.tile3 {
  background-color: lightblue;
}

.container {
  display: flex;
  justify-content: center;
}

.source {
  margin: 100px;
}

.output {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $palatino-family;
  margin: 0;
}

// a {
//   color: $dark-gray1;
//   text-decoration: none;
//   transition: border-bottom 0.05s;

//   &:hover {
//     border-bottom: 2px solid $black;
//   }

//   &:active {
//     position: relative;
//     top: 1px;
//   }
// }

body {
  font-family: $palatino-family;
}

// p {
//   font-weight: 400;
//   font-style: normal;
//   font-size: 21px;
//   line-height: 1.58;
//   font-family: $georgia-family;
// }

figure {
  margin: 0;
}

// h1 ~ p {
//   margin-top: 10px;
// }

// p ~ p {
//   margin-top: 30px;
// }

#root {
  overflow: hidden;
}
