@import "./variables";

.overworld-map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $black;
  color: white;
}

.overworld-map {
  position: relative;
  border: 1px solid grey;
}

.overworld-map-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;

  .icon {
    border: 1px solid transparentize($color: $white, $amount: 0.5);
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.icon-temperate {
  background: $forest3;
}

.icon-rocky {
  background: $light-gray3;
  color: black;
}

.icon-desert {
  background: $orange5;
  color: black;
}