.character {
  flex-shrink: 0;
  image-rendering: pixelated;

  &.xs {
    height: 32px;
  }

  &.small {
    height: 48px;
  }

  &.medium {
    height: 64px;
  }

  &.large {
    height: 72px;
  }
}
