@import "../variables";

.mp {
  display: inline-flex;
  align-items: center;

  .mp-icon {
    border-radius: 100%;
    box-shadow: 0 0 1px 1px $violet4;
    background: purple;
    fill: white;
    margin-left: 0.2em;
    padding: 2px;
    width: calc(1em + 4px);
    height: calc(1em + 4px);
  }
}