@import "../variables";

.mp {
  display: inline-flex;
  align-items: center;

  .mp-icon {
    // border-radius: 2px;
    border-radius: 100%;
    background: purple;
    padding: 0.25em;
    width: calc(1em + 0.5em);
    height: calc(1em + 0.5em);
    fill: white;
    margin-left: 0.2em;
  }
}