@import "../variables";

.gene-display {
  position: relative;

  .genes-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $gray1;
  }

  .genes-container {
    display: flex;
    flex-wrap: wrap;
    width: 225px;
  }

  .gene {
    user-select: none;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 2px;
    // font-family: $arial-family;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 1px;
    // font-family: $georgia-family;
    // text-transform: lowercase;
    font-weight: bold;
    width: 65px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: opacifyIn 0.2s both;

    .tuple-plus {
      color: $green2;
    }

    .tuple-minus {
      color: $red3;
    }

    .dna {
      display: inline-block;
    }
  }
}
