@import "../variables";

.mutation-screen {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  transition: all 0.2s;
  background: $light-gray5;
  // background: linear-gradient(135deg, $cobalt3 0%, $indigo4 33%, $violet3 66%, $rose2 100%);
  // background: linear-gradient(135deg, $cobalt3 0%, $indigo4 100%);
  // color: $light-gray5;

  .mutation-screen-content {
    max-width: 920px;
    margin: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .character {
      height: 1.2em;
      vertical-align: bottom;
      margin-right: 0.2em;
    }

    .name {
      font-style: italic;
    }

    input {
      background: none;
      border: none;
      border-bottom: 1px solid $gray3;
      font-weight: bold;
    }
  }

  .pool {
    font-size: 24px;
    margin-right: 10px;
    white-space: nowrap;
  }

  .buttons {
    display: flex;
    margin-bottom: 20px;

    .button.is-cancel {
      background: $light-gray1;
      color: black;
    }

    .button ~ .button {
      margin-left: 10px;
    }
  }

  .genes-to-traits {
    // margin: auto;

    .genes-details {
      width: 50%;
      flex-grow: 1;

      .genes-container {
        width: auto;
      }

      .gene {
        font-size: 2em;
        width: auto;

        .dna {
          cursor: pointer;
          transition: transform 0.05s, text-shadow 0.2s;

          &:hover {
            box-shadow: 0 0 1px 1px grey;
            border-radius: 2px;
          }
        }
      }
    }

    .traits-details {
      width: 50%;
      flex-grow: 1;
    }
  }

  .click-mode-instructions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $light-gray5;
    font-size: 40px;
    width: 100%;
  }

  &.click-mode-active {
    background: $gray2;
    // background: linear-gradient(135deg, $gray2 0%, $gray3 100%);

    .gene {
      transition: all 0.2s;
      background: $light-gray5;
      box-shadow: 0 4px 8px rgba(64, 64, 64, 0.5);
    }

    .dna {
      animation: wiggle 3s forwards infinite;
      text-shadow: 2px 2px 2px transparentize($color: $gray3, $amount: 0.2);

      @keyframes wiggle {
        0% {
          transform: rotate(0deg);
        }

        5% {
          transform: rotate(30deg);
        }

        10% {
          transform: rotate(-30deg);
        }

        15% {
          transform: rotate(30deg);
        }

        20% {
          transform: rotate(-30deg);
        }

        25% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  .commit {
    margin-top: 10px;
  }
}
