$generation-distance: 100px;
$species-info-size: 100px;
$nub-size: 50px;
$animation-distance: 0px;

.phylogenetic-tree {
  color: black;
  padding: 10px;
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;

  .title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #333333;
    font-size: 1.5em;
  }

  .tree-node {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    .descendants-container {
      padding-bottom: $generation-distance;
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      align-items: flex-end;

      // nub
      &::before {
        content: "";
        height: $nub-size + $animation-distance;
        width: 1px;
        position: absolute;
        left: 50%;
        background: gray;
        bottom: -$animation-distance;
      }

      >.tree-node {

        // vertical descendant line
        &::before {
          content: "";
          width: 1px;
          height: $generation-distance - $nub-size + $animation-distance;
          position: absolute;
          background: grey;
          top: calc(100% - #{$animation-distance});
          left: 50%;
        }


        // horizontal connector
        &::after {
          content: '';
          position: absolute;
          top: calc(100% + #{$generation-distance} - #{$nub-size});
          border-bottom: 1px solid grey;
        }

        // [connector] sibling-to-sibling:last-child
        &:last-of-type::after {
          width: 50%;
          left: 0;
        }

        // [connector] sibling-to-sibling:first-child
        &:first-of-type::after {
          width: 50%;
          right: 0;
        }

        // [connector] sibling-to-sibling:middle-child(ren)
        &:not(:first-of-type):not(:last-of-type)::after {
          width: 100%;
        }

        padding: 0 10px;
      }
    }

    .species-info-animation {
      animation: floatAround 2s ease-in-out alternate infinite;

      @keyframes floatAround {
        from {
          transform: translateY(-$animation-distance / 2);
        }

        to {
          transform: translateY($animation-distance / 2);
        }
      }
    }

    .species-info {
      border: 1px solid grey;
      border-radius: 100%;
      width: $species-info-size;
      height: $species-info-size;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      box-shadow: 0 4px 8px rgba(64, 64, 64, 0.2);
      background: rgb(251, 254, 251);
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        transform: scale(1.1);
      }

      img {
        height: 32px;
        flex-shrink: 0;
        image-rendering: pixelated;
      }

      .species-info-name {
        font-style: italic;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        background: none;
        border: none;
      }
    }
  }
}

.species-details-container {
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 8px 8px rgba(64, 64, 64, 0.2);

  .genes-to-traits {
    display: flex;
  }

  .mutate-button {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    background: purple;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 10px;
    color: white;
    cursor: pointer;
  }

  .arrow {
    margin: 30px;
    font-size: 48px;
    color: darken(purple, 5%);
    align-self: center;
    pointer-events: none;
  }

  .genes-details {
    display: flex;
    flex-direction: column;
    width: 230px;

    h3 {
      margin-bottom: 10px;
    }

    .gene-display {
      border: 1px solid rgba(64, 64, 64, 0.2);
      border-radius: 10px;
      height: 100%;
      align-self: stretch;
    }
  }

  .traits-details {
    display: flex;
    flex-direction: column;
    width: 230px;

    h3 {
      margin-bottom: 10px;
    }

    .trait-display {
      border: 1px solid rgba(64, 64, 64, 0.2);
      border-radius: 10px;
      height: 100%;
      align-self: stretch;
    }
  }
}