@import "../variables";

.phylogenetic-tree {
  color: $black;
  padding: 10px;
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;

  .title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: $dark-gray3;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }

  .tree-nodes {
    margin: auto;
  }
}