.phylogenetic-tree {
  color: black;
  padding: 10px;

  .tree-nodes {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tree-node {
    $generation-distance: 100px;
    $species-info-size: 100px;
    $nub-size: 10px;

    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    .descendants-container {
      padding-bottom: $generation-distance;
      display: flex;
      flex-wrap: nowrap;
      position: relative;

      // nub
      &::before {
        content: "";
        height: $nub-size;
        width: 1px;
        position: absolute;
        left: 50%;
        background: gray;
        bottom: 0;
      }

      // horizontal connector line
      &::after {
        content: "";
        height: 1px;
        left: $species-info-size / 2;
        right: $species-info-size / 2;
        bottom: $nub-size;
        position: absolute;
        background: grey;
      }

      >.tree-node {

        // vertical descendant line
        &::after {
          content: "";
          width: 1px;
          height: $generation-distance - $nub-size;
          position: absolute;
          background: grey;
          top: 100%;
          left: 50%;
        }

        &~.tree-node {
          margin-left: 20px;
        }
      }
    }

    .species-info {
      border: 1px solid grey;
      border-radius: 100%;
      width: $species-info-size;
      height: $species-info-size;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        height: 32px;
        flex-shrink: 0;
        image-rendering: pixelated;
      }

      .species-info-name {
        font-style: italic;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        background: none;
        border: none;
      }
    }
  }
}

.trait-container {
  background: white;
  border-radius: 5px;
  padding: 10px;
}