@import "../variables";

.trait-display {
  padding: 10px;

  .no-interesting-traits {
    color: $gray1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .zero-traits {
    color: $gray3;
  }

  .expand-toggle {
    color: $gray3;
  }

  .trait {
    &.green {
      color: $green2;
    }

    &.red {
      color: $red3;
    }

    .tuple {
      font-family: "Courier New", Courier, monospace;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
}
