@import "../variables";

.trait-display {
  padding: 10px;

  .no-interesting-traits {
    color: $gray1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .zero-traits {
    color: $gray3;
  }

  .expand-toggle {
    color: $gray3;
  }

  .green {
    color: $green2;
  }

  .red {
    color: $red3;
  }
}